<ion-toolbar>
  <ion-img src="../../assets/iconne/status.svg"></ion-img>
</ion-toolbar>


<ion-content [fullscreen]="true">
  <div class="content">
    <img src="../../assets/iconne/envoloppe.svg" alt="">
    </div>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          
          <div class="title">
            We would like to send you notifications
          </div>

        </ion-card-subtitle>
        <ion-card-title>Notifications may include alerts, sounds, and icon badges. These can be configured in Settings.</ion-card-title>
      </ion-card-header>

      <ion-card-content>
      
        <div padding>
          <ion-button class="getStart" expand="block">
            ALLOW
            <div class="icon">
              <img src="../../assets/iconne/Icons-Next-3.png" alt="">

            </div>

          </ion-button>
        </div>
        <ion-grid>
          <ion-row color="primary" justify-content-center>

            <div class="create" >
              Later
            </div>

          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>
  </ion-content>