/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@font-face {
    font-family: 'SF Pro Display';
    src: url('./assets/fonts/SFPro/SFProDisplay-Semibold.woff2') format('woff2'),
        url('./assets/fonts/SFPro/SFProDisplay-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('./assets/fonts/SFPro/SFProText-Regular.woff2') format('woff2'),
        url('./assets/fonts/SFPro/SFProText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



app-home{
    .swiper-pagination{
        position: relative;

        .swiper-pagination-bullet {
            margin: 0 4px;
            width: 6px;
            height: 6px;
            background: #3756DF;
            bottom: 0px !important;
        }

        .swiper-pagination-bullet-active {
            background: #fff !important;
            width: 17px;
            border-radius: 14px;
        }
      }

      .swiper-wrapper{
        height: 509px;
      }
}



