#container {
    height: 100%;
}

ion-toolbar{
    --background: transparent;
    ion-img  {
        height: 12px;
    }
}
ion-card{
    background: #F6F8FB;
    border-radius: 20px 20px 0 0;
    margin: 20px 0 0 0;
    height: 100%;
    color: #000;
    padding: 25px 0 0 0;


    ion-card-subtitle{
        font-size: 15px;
        color: #1D2238;
        text-transform: inherit;
        margin-bottom: 20px;
        font-family: 'SF Pro Display';
        font-weight: normal !important;

        .icon{
            position: absolute;
            left: 0;
            cursor: pointer;
            img{
              height: 20px;
            }
          }

          .title{
              text-align: center;
          }
    }  
    ion-card-title{
        font-weight: normal !important;
        text-transform: inherit;
        padding: 0 82px;
        font-size: 12px;
        text-align: center;
        color: #5A6876;
        font-family: 'SF Pro Text';

    }


    ion-card-content{

        ion-item{
        --background: #FFF;
        color: #1D2238;
        font-size: 12px;
        box-shadow: 0px 4px 15px rgba(55, 86, 223, 0.2);

       
            ion-button{
                font-size: 12px;
                font-family: 'SF Pro Display';
                --border-style: none;
            }
    
        }

        ion-item:nth-child(1){
            border-radius: 20px 20px 0 0;
            --border-color: #F4F6FC;
            font-family: 'SF Pro Display';
            
        }
        ion-item:nth-child(2){
            border-radius:  0 0 20px 20px;
            --border-color: transparent;
        }
        


        ion-button.getStart{
            --background: #3756DF;
            width: 319px;
            height: 54px;
            margin: 50px auto;
            font-family: 'SF Pro Text';
            font-size: 15px;
            font-weight: normal !important;
            color: #fff;

        
            .icon{
            position: absolute;
            right: 0;
            background: rgba($color: #000000, $alpha: 0.5);

            border-radius: 50%;
            height: 26px;
            width: 26Px;
            padding: 5px;
            img{
                height: 10px;
            }
            }
        }



        .create{
            text-align: center;
            font-size: 12px;
            font-family: 'SF Pro Text';
            margin: 0 auto;
            font-weight: normal;

            a{
                text-decoration: none;
                color: #3756DF;
                font-family: 'SF Pro Display';
            }

        }
    }
}