<ion-toolbar>
  <ion-img src="../../assets/iconne/status.svg"></ion-img>
</ion-toolbar>



<ion-content [fullscreen]="true">
  <ion-card>
    <img src="../../assets/iconne/transaction.svg" alt="">

    <ion-card-header>
      <ion-card-title>Transaction
        Successfully!</ion-card-title>
      <ion-card-subtitle>
        It was wonderful, don't forget that you can always review your <a>  transaction history</a>  
      </ion-card-subtitle>
    </ion-card-header>

  </ion-card>


  <ion-button  expand="block" (click)="goBAck()" >
    GO TO HOME
    <div class="icon">
      <img src="../../assets/iconne/Icons-Next-3.png" alt="">

    </div>
    
  </ion-button>



</ion-content>
