

<ion-content [fullscreen]="true">


  <div id="container">


  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card>
        <img src="../../assets/images/Group.svg" alt="">
  
        <ion-card-header>
          
          <ion-card-subtitle>Welcome to</ion-card-subtitle>
          <ion-card-title>Grace Bank</ion-card-title>
        </ion-card-header>

      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../assets/images/Group.svg" alt="">
  
        <ion-card-header>
          
          <ion-card-subtitle>Welcome to</ion-card-subtitle>
          <ion-card-title>Grace Bank</ion-card-title>
        </ion-card-header>

      </ion-card>
    </ion-slide>


    <ion-slide>
      <ion-card>
        <img src="../../assets/images/Group.svg" alt="">
  
        <ion-card-header>
          
          <ion-card-subtitle>Welcome to</ion-card-subtitle>
          <ion-card-title>Grace Bank</ion-card-title>
        </ion-card-header>

      </ion-card>
    </ion-slide>
  </ion-slides>


  <ion-button  expand="block" (click)="goTO()" >
    GET STARTED
    <div class="icon">
      <img src="../../assets/iconne/Icons-Next-3.png" alt="">

    </div>
    
  </ion-button>


</div>
</ion-content>
